
body{
    background-color: rgb(102, 203, 216);
    background-size: cover;
    background-attachment: fixed;
}

div #carouselExampleIndicators{
    min-width: 200px;
    max-width:800px ;
   min-height: 100px;
   max-height: 500px;
   background-attachment: fixed;
   margin-left: 200px;
}