body{
    background-color: skyblue;
}

div.NameUser{
    border-radius: 200px;
    border-color: white;
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    text-shadow: 2px 2px rgb(170, 4, 211);
    height: 300px;
    width: 1500px;
    background-color: rgb(216, 181, 216);
}
/* FOTOS DEL LOGIN */
.image{
border-radius: 10px;
 border-color: purple;
 border:10px;
    width: 150px;
    margin-top: 10px;
    margin-left: 10px;
}
 
.post{
    border-radius: 10px;
    background-color: white;
    height: 250px;
    width: 800px;
    margin-top:20px;
    margin-left: 600px;
    
}

.comments{
    font-size: 15px;
    font-family: initial;
    margin-top: 10px;
    margin-left: 20px;
    height: 150px;
    width: 750px;
   
}

.makepost{
width: 70px;
text-transform: capitalize;
color:white;
margin-left: 700px;
background-color: purple;
}

/* PUBLICAR */
.posting{
    border-radius: 10px;
    background-color: rgb(179, 175, 175);
    height: 60px;
    width: 800px;
}
.publicacion{
    font-size: 15px;
    text-align: center;
}

.minifoto{
    border-radius: 50px;
    border:10px;
       width: 50px;
       margin-top: -35px;
       margin-left: 10px;
}


/* GALERIA DE FOTOS */
.fotos{
    border-radius: 10px;
    background-color: rgb(255, 249, 249);
    height: 300px;
    width: 500px;
    margin-top: -200px;
    margin-left: 50px;
    text-align: center;
    
}

div>.mypost{

    font-family: fantasy;
    font-size: 20px;
}



div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }