body{
    background-color: powderblue;
    background-size: cover;
    background-attachment: fixed;
}

.logo{
    margin-top: 30px;
    margin-left: 600px;
    text-align: center;
   
    width: 300px;
}

.foto_log{
width: 100px;
align-items: center;
margin-top: 10px;
margin-right: 30px;
border: black;
}

.Archivo{
    margin-top: 10px;
    align-items: center;
}

.URL{
    margin-top: -10px;
    align-items: center;
}

div{
    height: 500px;
    width: 500px;
    
    background-color: rgb(253, 242, 246);
    font-style: normal;
    text-align: center;
    border-radius: 10px;
    margin-left: 500px;
    margin-top: 20px;
}


div>h2{

color: rgb(31, 31, 31);
font-family: 'Times New Roman', Times, serif;
/* display: block; */
}

h2::after{
content: ' *';
color: red;
}

div>input[type= "text"]{
    color: purple;
    background-color: rgb(248, 240, 243);
    border-radius: 5px;
    height: 25px;
width: 300px;


}

div>input[type= "email"]{
    color: purple;
    background-color: rgb(248, 240, 243);
    border-radius: 5px;
    height: 25px;
    width: 300px;
    
    
    }

div>input[type= "password"]{
    color: purple;
    background-color: rgb(248, 240, 243);
    border-radius: 5px;
        height: 25px;
        width: 300px;
        
        }

/* FORM ERROR */
/* input.form-error{
border-left: 5px solid red;
        } */

div>input[type="button"]{
height: 35px;
width: 220px;
margin-top: 30px;
align-items: center;
    font-size: 20px;
    color:white;
    background-color:pink;
}

